<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Voters</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Has Voted</th>
          </tr>
          <tr *ngFor="let result of getVoters; let index = index">
            <th scope="row">{{index + 1}}</th>
            <td>{{result.name}}</td>
            <td>{{result.voted ? 'V' : 'X'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Candidates</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Votes</th>
          </tr>
          <tr *ngFor="let result of getCandidates; let index = index">
            <th scope="row">{{index + 1}}</th>
            <td>{{result.name}}</td>
            <td>{{result.votes}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <h3></h3>
      <h4>Add Person!</h4>
      <form [formGroup]="addPerson" (ngSubmit)="createPerson()" class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInput">Name</label>
          <input formControlName="username" type="text" class="form-control" id="autoSizingInput" placeholder="Emilie Doe">
        </div>
        <div *ngIf="username.touched &&  username.errors?.['required']" class="alert alert-danger"> This field is requiered </div>
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
          <select class="form-select" id="autoSizingSelect" (change)="isVoterOrCandidate($event) " formControlName="isVoter">
            <option value="" hidden selected>Choose</option>
            <option value="1">Voter</option>
            <option value="2">Candidate</option>
          </select>
        </div>
        <div *ngIf="isVoter.touched && isVoter.errors?.['required']" class="alert alert-danger"> You must choose some option </div>
        <div class="col-auto">
          <button [disabled]="addPerson.invalid" type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-lg-3">
      <h3></h3>
      <h4>Vote!</h4>
      <form [formGroup]="voting" (ngSubmit)="addVote()" class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
          <select class="form-select" id="autoSizingSelect" (change)="chooseVoter($event)" formControlName="voter">
            <option value="" hidden selected>I am</option>
            <option *ngFor="let result of getVotersWhoNotVoted">{{result.name}}</option>
          </select>
        </div>
        <div *ngIf="voter.touched && voter.errors?.['required']" class="alert alert-danger"> You must choose some option </div>
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
          <select class="form-select" id="autoSizingSelect" (change)="chooseCandidate($event) " formControlName="candidate">
            <option value="" hidden selected>I vote for</option>
            <option *ngFor="let result of getCandidates">{{result.name}}</option>
          </select>
        </div>
        <div *ngIf="candidate.touched && candidate.errors?.['required']" class="alert alert-danger"> You must choose some option </div>
        <div class="col-auto">
          <button [disabled]="voting.invalid" type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
